page-home {

.title{
    text-align: center;
}
 .avatar{
     margin-left: 110px;
   
 }
 ion-content{
     background: url("../assets/imgs/backdrop.jpg") no-repeat;
 }

 button{
    
     margin-top: 30px;
 }
}
